@font-face {
  font-family: 'AvantGardeGothicC';
  src: url("../fonts/AvantGardeGothicC.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeGothicC.otf") format("opentype"), url("../fonts/AvantGardeGothicC.woff") format("woff"), url("../fonts/AvantGardeGothicC.ttf") format("truetype"), url("../fonts/AvantGardeGothicC.svg#AvantGardeGothicC") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 10px; }

body {
  font: 16px/1.5 sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a; }

#slideSide {
  display: none; }

@media (max-width: 991px) {
  #slideSide {
    display: block;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    /* top layer */
    z-index: 9999;
    transition: all 0.3s;
    overflow-y: scroll;
    background: #95c122; }
    #slideSide.active {
      left: 0; }
    #slideSide .list-group {
      border-radius: 0;
      border: none;
      padding-top: 20px; }
      #slideSide .list-group .list-group-item {
        border: none;
        border-radius: 0;
        background: transparent; }
        #slideSide .list-group .list-group-item a {
          color: #fff;
          font-weight: 900;
          font-size: 1.4rem;
          text-transform: uppercase; }
          #slideSide .list-group .list-group-item a.active, #slideSide .list-group .list-group-item a:hover, #slideSide .list-group .list-group-item a:focus {
            text-decoration: underline; }
        #slideSide .list-group .list-group-item .list-group {
          margin: -10px 0 -15px;
          padding: 0; }
          #slideSide .list-group .list-group-item .list-group .list-group-item {
            position: relative;
            line-height: 18px; }
            #slideSide .list-group .list-group-item .list-group .list-group-item a {
              font-weight: 400;
              text-transform: none;
              margin: 0;
              padding: 0 0 0 10px; }
            #slideSide .list-group .list-group-item .list-group .list-group-item.active:before, #slideSide .list-group .list-group-item .list-group .list-group-item:hover:before, #slideSide .list-group .list-group-item .list-group .list-group-item:focus:before {
              content: '\2022';
              font-size: 3rem;
              color: #387e33;
              position: absolute;
              left: 5px;
              top: 10px; }

  #overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998; }

  #dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 0;
    color: #fff; }

  #sidebarCollapse {
    position: absolute;
    left: 10px;
    top: -80px;
    height: 40px;
    background: #95c122;
    border: 1px solid #fff; }
    #sidebarCollapse .icon-bar {
      background-color: #fff;
      display: none; }
      #sidebarCollapse .icon-bar:first-child {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all 0.5s;
        display: block; }
      #sidebarCollapse .icon-bar:last-child {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
        transition: all 0.5s;
        display: block;
        margin-top: -2px; }
    #sidebarCollapse.collapsed .icon-bar {
      display: block;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: all 0.5s; }
      #sidebarCollapse.collapsed .icon-bar:last-child {
        margin-top: 4px; } }
.header {
  background: -webkit-linear-gradient(to right, #ffffff 50%, #387e33 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #ffffff 50%, #387e33 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #ffffff 50%, #387e33 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffff 50%, #387e33 50%);
  height: 105px;
  color: #fff; }
  @media (max-width: 650px) {
    .header {
      background: -webkit-linear-gradient(to bottom, #ffffff 50%, #387e33 50%);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(to bottom, #ffffff 50%, #387e33 50%);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(to bottom, #ffffff 50%, #387e33 50%);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom, #ffffff 50%, #387e33 50%);
      height: 140px; } }
  @media (max-width: 425px) {
    .header {
      background: -webkit-linear-gradient(to bottom, #ffffff 38%, #387e33 38%);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(to bottom, #ffffff 38%, #387e33 38%);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(to bottom, #ffffff 38%, #387e33 38%);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom, #ffffff 38%, #387e33 38%); } }
  .header__cntnr {
    max-width: 1400px;
    margin: 0 auto;
    position: relative; }
  .header__right {
    float: right; }
    @media (max-width: 1330px) {
      .header__right {
        width: 50%;
        display: inline-block;
        float: none; } }
    @media (max-width: 650px) {
      .header__right {
        width: 100%;
        display: block; } }
  .header .navbar {
    background: transparent;
    border: none;
    text-align: center;
    margin: 0 auto;
    height: 105px;
    display: inline-block;
    z-index: 999; }
    @media (max-width: 1330px) {
      .header .navbar {
        float: none;
        position: absolute;
        right: 0;
        top: 105px; } }
    @media (max-width: 650px) {
      .header .navbar {
        top: 140px; } }
    .header .navbar-header button.navbar-toggle {
      position: absolute;
      right: 0;
      top: -80px;
      height: 40px;
      background: #95c122; }
      @media (max-width: 650px) {
        .header .navbar-header button.navbar-toggle {
          top: -133px; } }
      @media (max-width: 650px) {
        .header .navbar-header button.navbar-toggle {
          top: -143px; } }
      .header .navbar-header button.navbar-toggle .icon-bar {
        background-color: #fff;
        display: none; }
        .header .navbar-header button.navbar-toggle .icon-bar:first-child {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition: all 0.5s;
          display: block; }
        .header .navbar-header button.navbar-toggle .icon-bar:last-child {
          -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
          transition: all 0.5s;
          display: block;
          margin-top: -2px; }
      .header .navbar-header button.navbar-toggle.collapsed .icon-bar {
        display: block;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: all 0.5s; }
        .header .navbar-header button.navbar-toggle.collapsed .icon-bar:last-child {
          margin-top: 4px; }
    .header .navbar-collapse {
      float: none;
      display: inline-block !important;
      border: none; }
    .header .navbar__right {
      display: inline-block;
      vertical-align: top;
      padding-left: 20px;
      padding-top: 10px;
      float: right; }
      @media (max-width: 1330px) {
        .header .navbar__right {
          float: none;
          position: relative; } }
      @media (max-width: 650px) {
        .header .navbar__right {
          display: block; } }
      .header .navbar__right__top {
        clear: both; }
        @media (max-width: 1330px) {
          .header .navbar__right__top:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 105px solid #387e33;
            border-left: 105px solid transparent;
            position: absolute;
            top: 0;
            left: -105px; } }
        @media (max-width: 650px) {
          .header .navbar__right__top {
            float: left; }
            .header .navbar__right__top:before {
              content: none; } }
        @media (max-width: 425px) {
          .header .navbar__right__top {
            float: none; } }
        .header .navbar__right__top_currency {
          font-family: 'AvantGardeGothicC';
          font-size: 1.1rem;
          font-weight: 300;
          max-width: 136px;
          float: left; }
          @media (max-width: 650px) {
            .header .navbar__right__top_currency {
              float: none; } }
          @media (max-width: 425px) {
            .header .navbar__right__top_currency {
              float: left; } }
          .header .navbar__right__top_currency .dol {
            float: left; }
          .header .navbar__right__top_currency .euro {
            float: right; }
        .header .navbar__right__top_lang {
          float: right;
          margin-left: 10px;
          margin-top: 2px;
          color: #95c122; }
          @media (max-width: 650px) {
            .header .navbar__right__top_lang {
              float: none; } }
          @media (max-width: 425px) {
            .header .navbar__right__top_lang {
              float: right;
              margin-left: 0;
              margin-right: 10px; } }
          .header .navbar__right__top_lang a {
            color: #95c122;
            font-size: 1.8rem;
            font-weight: 700; }
            .header .navbar__right__top_lang a.active {
              color: #fff; }
      .header .navbar__right__bottom {
        clear: both;
        text-align: right;
        margin-top: 45px; }
        @media (max-width: 650px) {
          .header .navbar__right__bottom {
            float: right;
            margin-top: -55px;
            margin-right: 10px; } }
        @media (max-width: 425px) {
          .header .navbar__right__bottom {
            float: none;
            text-align: center;
            margin-top: 35px; } }
        .header .navbar__right__bottom_phone {
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 20px; }
          @media (max-width: 650px) {
            .header .navbar__right__bottom_phone {
              margin-bottom: 13px; } }
          @media (max-width: 425px) {
            .header .navbar__right__bottom_phone {
              margin-bottom: 8px; } }
          .header .navbar__right__bottom_phone a {
            color: #fff;
            text-decoration: none; }
        .header .navbar__right__bottom_mail {
          font-family: 'AvantGardeGothicC';
          font-size: 1.6rem;
          font-weight: 300; }
          .header .navbar__right__bottom_mail a {
            color: #fff;
            text-decoration: none; }
    .header .navbar-nav {
      -webkit-transform: skew(-30deg);
      -moz-transform: skew(-30deg);
      -o-transform: skew(-30deg);
      transform: skew(-30deg);
      background: #95c122; }
      @media (max-width: 1330px) {
        .header .navbar-nav {
          -webkit-transform: skew(0deg);
          -moz-transform: skew(0deg);
          -o-transform: skew(0deg);
          transform: skew(0deg);
          padding-top: 10px;
          text-align: left; } }
      .header .navbar-nav li {
        background: transparent;
        border: none;
        box-sizing: border-box;
        padding: 0 10px;
        margin-left: -1px;
        height: 105px; }
        @media (max-width: 1330px) {
          .header .navbar-nav li {
            height: inherit; } }
        .header .navbar-nav li.active a {
          text-decoration: underline; }
        .header .navbar-nav li:first-child {
          display: none; }
        .header .navbar-nav li.dropdown ul.dropdown-menu {
          top: 70px;
          left: 25px;
          -webkit-transform: skew(30deg);
          -moz-transform: skew(30deg);
          -o-transform: skew(30deg);
          transform: skew(30deg);
          background: #95c122;
          border: none;
          border-radius: 0;
          border-left: 2px solid #fff; }
          @media (max-width: 1330px) {
            .header .navbar-nav li.dropdown ul.dropdown-menu {
              -webkit-transform: skew(0deg);
              -moz-transform: skew(0deg);
              -o-transform: skew(0deg);
              transform: skew(0deg);
              border: none; } }
          .header .navbar-nav li.dropdown ul.dropdown-menu li {
            background: transparent;
            -webkit-transform: skew(0deg);
            -moz-transform: skew(0deg);
            -o-transform: skew(0deg);
            height: auto;
            margin-left: 0; }
            .header .navbar-nav li.dropdown ul.dropdown-menu li:first-child {
              display: block; }
            .header .navbar-nav li.dropdown ul.dropdown-menu li a {
              color: #fff;
              font-size: 1.4rem;
              font-weight: 400;
              outline: none; }
              @media (max-width: 1330px) {
                .header .navbar-nav li.dropdown ul.dropdown-menu li a {
                  padding: 0 0 0 30px; } }
              .header .navbar-nav li.dropdown ul.dropdown-menu li a:hover, .header .navbar-nav li.dropdown ul.dropdown-menu li a:focus {
                background: transparent;
                border: none;
                text-decoration: underline; }
    .header .navbar-brand {
      height: inherit;
      float: left; }
      @media (max-width: 1330px) {
        .header .navbar-brand {
          width: 50%; } }
      @media (max-width: 650px) {
        .header .navbar-brand {
          width: 100%;
          text-align: center; }
          .header .navbar-brand img {
            display: initial;
            width: 120px; } }
      @media (max-width: 425px) {
        .header .navbar-brand {
          text-align: left;
          padding: 5px 10px;
          height: 55px; }
          .header .navbar-brand img {
            width: 100px; } }
  .header .navbar-default .navbar-nav > li > a,
  .header .navbar-default .navbar-nav > .active > a,
  .header .navbar-default .navbar-nav > .active > a:hover,
  .header .navbar-default .navbar-nav > .active > a:focus {
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    background: transparent;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    padding-top: 35px; }
    @media (max-width: 1330px) {
      .header .navbar-default .navbar-nav > li > a,
      .header .navbar-default .navbar-nav > .active > a,
      .header .navbar-default .navbar-nav > .active > a:hover,
      .header .navbar-default .navbar-nav > .active > a:focus {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        padding-top: 0; } }
    .header .navbar-default .navbar-nav > li > a:hover,
    .header .navbar-default .navbar-nav > .active > a:hover,
    .header .navbar-default .navbar-nav > .active > a:hover:hover,
    .header .navbar-default .navbar-nav > .active > a:focus:hover {
      text-decoration: underline; }
  .header .navbar-default .navbar-nav > .open > a,
  .header .navbar-default .navbar-nav > .open > a:hover,
  .header .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
    color: #fff; }

@media (max-width: 1330px) {
  .navbar-collapse.collapse {
    display: none !important;
    position: absolute;
    right: 0;
    min-width: 220px;
    border: none; }

  .navbar-collapse.collapse.in {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    min-width: 220px;
    border: none; }

  .navbar-header .collapse, .navbar-toggle {
    display: block !important; }

  .navbar-header {
    float: none; }

  .navbar-nav {
    float: none;
    margin: inherit; }

  .navbar-nav > li {
    float: none; }

  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px; } }
@media (max-width: 425px) {
  .navbar-collapse.collapse {
    top: -10px; }

  .navbar-collapse.collapse.in {
    padding-right: 0; } }
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block; }

/**
 * Created by michael on 10.05.17.
 */
.firstDisplay {
  height: 100vh;
  width: 100%;
  clear: both;
  position: relative;
  display: table; }
  @media (max-width: 650px) {
    .firstDisplay {
      height: auto;
      display: block; } }
  .firstDisplay__categories {
    height: 100%;
    position: relative;
    display: table-row;
    text-align: center; }
    @media (max-width: 650px) {
      .firstDisplay__categories {
        display: none; } }
    .firstDisplay__categories_section {
      display: table-cell;
      padding-top: 7%; }
    .firstDisplay__categories_cntnr {
      display: inline-block;
      font-size: 2rem;
      color: #387e33;
      font-weight: 900;
      text-transform: uppercase;
      width: 185px;
      vertical-align: top;
      margin: 0 5%; }
      .firstDisplay__categories_cntnr:hover, .firstDisplay__categories_cntnr:focus {
        color: #387e33;
        text-decoration: none; }
        .firstDisplay__categories_cntnr:hover .firstDisplay__categories_cntnr_round, .firstDisplay__categories_cntnr:focus .firstDisplay__categories_cntnr_round {
          border-color: #fff;
          transition: 0.5s; }
        .firstDisplay__categories_cntnr:hover .firstDisplay__categories_cntnr_round_in, .firstDisplay__categories_cntnr:focus .firstDisplay__categories_cntnr_round_in {
          background-color: #fff;
          transition: 0.5s; }
      .firstDisplay__categories_cntnr_round {
        width: 172px;
        height: 172px;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.5);
        padding: 3px;
        transition: 0.5s; }
        .firstDisplay__categories_cntnr_round_in {
          background-color: rgba(255, 255, 255, 0.5);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          text-align: center;
          position: relative;
          transition: 0.5s; }
          .firstDisplay__categories_cntnr_round_in img {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0; }
    .firstDisplay__categories_cat_1 {
      -vendor-animation-delay: 10s; }
    .firstDisplay__categories_cat_2 {
      -vendor-animation-delay: 2.5s; }
    .firstDisplay__categories_cat_3 {
      -vendor-animation-delay: 3s; }
    .firstDisplay__categories_cat_all {
      -vendor-animation-delay: 3.5s; }
    .firstDisplay__categories_all {
      display: block;
      width: 310px;
      margin: 0 auto;
      padding-top: 2%;
      font-weight: 300;
      font-size: 3rem;
      color: #387e33;
      text-decoration: underline;
      text-align: center;
      text-shadow: 1px 1px 1px #fff;
      font-family: 'AvantGardeGothicC'; }
      .firstDisplay__categories_all:hover, .firstDisplay__categories_all:focus {
        color: #387e33; }

.home_ttl {
  font-size: 6.3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 40px; }
  @media (max-width: 475px) {
    .home_ttl {
      font-size: 3rem; } }
.home_dsc {
  color: #387e33;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-top: 15px; }
.home_cntnt {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 36px; }

.btn {
  width: 157px;
  height: 52px;
  padding-top: 15px;
  border-radius: 0;
  border: none;
  font-family: 'AvantGardeGothicC';
  color: #605c5c;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  transition: all 0.1s; }
  .btn:hover {
    transition: all 0.1s;
    box-shadow: -4px 4px 3px 0px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    color: #000; }

.breadcrumbs {
  margin-top: 20px; }
  .breadcrumbs ul {
    padding-left: 0; }
    .breadcrumbs ul li {
      display: inline-block; }
      .breadcrumbs ul li:before {
        content: '-';
        color: #000;
        font-size: 1.8rem; }
      .breadcrumbs ul li:first-child:before {
        content: none; }
      .breadcrumbs ul li a {
        color: #95c122;
        font-size: 1.8rem;
        font-weight: 300;
        font-family: 'AvantGardeGothicC';
        padding-left: 5px; }
      .breadcrumbs ul li span {
        font-size: 1.8rem;
        font-weight: 300;
        font-family: 'AvantGardeGothicC';
        padding-left: 5px; }

.actions_heading {
  color: #fff;
  font-size: 4.6rem;
  font-weight: 700;
  text-align: center;
  margin: 70px 0;
  text-transform: uppercase; }
  @media (max-width: 475px) {
    .actions_heading {
      font-size: 3rem; } }
.actions__content {
  margin-bottom: 50px; }
  .actions__content_blc {
    background-color: #387e33;
    color: #fff; }
    @media (max-width: 767px) {
      .actions__content_blc {
        margin-bottom: 50px; } }
    .actions__content_blc_img {
      width: 100%;
      height: 210px; }
    .actions__content_blc_ttl {
      padding: 30px 15px; }
      .actions__content_blc_ttl a {
        font-size: 2.4rem;
        font-weight: 900;
        text-decoration: underline;
        text-transform: uppercase;
        color: #fff; }
    .actions__content_blc_text {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 30px; }
    .actions__content_blc_btn {
      margin: 65px 0 30px 15px; }
.actions .container {
  padding-bottom: 150px;
  max-width: 992px; }

.partners_heading {
  color: #1a1a1a;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 70px 0 30px;
  text-transform: uppercase; }
  @media (max-width: 475px) {
    .partners_heading {
      font-size: 3rem; } }
.partners__content ul li {
  min-height: 125px; }
  .partners__content ul li .uk-text-center {
    height: 100%;
    position: relative; }
    .partners__content ul li .uk-text-center img {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }

.news__cntnr {
  background-color: #dfdfdf;
  margin-bottom: 30px;
  height: 435px;
  padding-left: 0; }
  @media (max-width: 767px) {
    .news__cntnr {
      height: initial;
      padding-right: 0; } }
  .news__cntnr_img {
    height: 100%; }
    @media (max-width: 767px) {
      .news__cntnr_img {
        height: 300px; } }
  .news__cntnr__cntnt {
    padding-top: 15px;
    padding-left: 50px;
    position: relative;
    height: 100%; }
    @media (max-width: 767px) {
      .news__cntnr__cntnt {
        padding-bottom: 90px; } }
    .news__cntnr__cntnt_date {
      text-align: right;
      font-size: 2.4rem;
      font-weight: 900;
      text-decoration: underline; }
      @media (max-width: 767px) {
        .news__cntnr__cntnt_date {
          float: right; } }
    .news__cntnr__cntnt_ttl {
      font-weight: 300;
      font-size: 2.4rem;
      padding-top: 15px;
      margin-bottom: 50px; }
      @media (max-width: 767px) {
        .news__cntnr__cntnt_ttl {
          margin-bottom: 20px;
          margin-top: -10px; } }
      @media (max-width: 425px) {
        .news__cntnr__cntnt_ttl {
          margin-bottom: 20px;
          margin-top: 20px; } }
    .news__cntnr__cntnt_cntnt {
      font-family: 'AvantGardeGothicC';
      font-weight: 300;
      font-size: 1.8rem;
      max-height: 190px;
      overflow: hidden; }
      @media (max-width: 767px) {
        .news__cntnr__cntnt_cntnt {
          max-height: 190px; } }
  .news__cntnr_btn {
    position: absolute;
    bottom: 15px;
    left: 50px; }
    @media (max-width: 767px) {
      .news__cntnr_btn {
        left: inherit;
        right: 20px; } }

.footer__nav {
  background: #387e33; }
.footer__navbar {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px; }
  .footer__navbar_collapse ul li a {
    font-family: 'AvantGardeGothicC';
    color: #ffffff !important;
    font-size: 2rem;
    font-weight: 700; }
    .footer__navbar_collapse ul li a:hover, .footer__navbar_collapse ul li a:focus {
      text-decoration: underline; }
    .footer__navbar_collapse ul li a .active {
      text-decoration: underline; }
  .footer__navbar_btn {
    background-color: #95c122;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 0;
    font-family: 'AvantGardeGothicC';
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 300;
    padding-top: 9px;
    text-align: center; }
    @media (max-width: 1330px) {
      .footer__navbar_btn {
        float: left !important; } }
    .footer__navbar_btn:hover, .footer__navbar_btn:focus {
      text-decoration: underline;
      background-color: #95c122;
      color: #fff; }
.footer__contacts {
  background-color: #000;
  padding-bottom: 55px;
  padding-top: 55px;
  font-weight: 300; }
  @media (max-width: 425px) {
    .footer__contacts .container {
      padding-left: 0;
      padding-right: 0; } }
  .footer__contacts_col {
    position: relative;
    height: 100px; }
    @media (max-width: 425px) {
      .footer__contacts_col {
        padding-right: 5px;
        padding-left: 5px;
        height: auto; } }
  .footer__contacts_copyright {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'AvantGardeGothicC';
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 24px; }
    @media (max-width: 767px) {
      .footer__contacts_copyright {
        position: relative;
        text-align: center; } }
  .footer__contacts_address {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'AvantGardeGothicC';
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 300; }
    @media (max-width: 767px) {
      .footer__contacts_address {
        position: relative;
        text-align: center; } }
  .footer__contacts_phone {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4rem;
    font-weight: 500;
    margin-top: -10px; }
    @media (max-width: 767px) {
      .footer__contacts_phone {
        position: relative;
        text-align: center; } }
    .footer__contacts_phone a {
      color: #fff;
      text-decoration: none; }
      @media (max-width: 425px) {
        .footer__contacts_phone a {
          font-size: 3rem; } }
  .footer__contacts_mail {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-family: 'AvantGardeGothicC';
    font-size: 1.8rem;
    font-weight: 300; }
    @media (max-width: 767px) {
      .footer__contacts_mail {
        position: relative;
        text-align: center; } }
    .footer__contacts_mail a {
      color: #fff;
      text-decoration: none; }

.modal-dialog {
  max-width: 354px; }
  .modal-dialog .modal-content {
    border: none;
    border-radius: 0; }
    .modal-dialog .modal-content button.close {
      right: 10px;
      top: 5px;
      color: #fff;
      opacity: inherit;
      position: absolute;
      z-index: 1; }
    .modal-dialog .modal-content .modal-body {
      color: #808080;
      font-weight: 300;
      font-size: 1.8rem;
      padding: 0; }
      .modal-dialog .modal-content .modal-body .form_builder_cntnr {
        padding: 1px; }
        .modal-dialog .modal-content .modal-body .form_builder_cntnr h3 {
          background: #387e33;
          color: #fff;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 1.8rem;
          text-align: center;
          margin-top: 0;
          height: 55px;
          padding-top: 20px;
          margin-bottom: 20px; }
        .modal-dialog .modal-content .modal-body .form_builder_cntnr .form-group {
          max-width: 300px;
          margin: 0 auto;
          margin-bottom: 25px; }
          .modal-dialog .modal-content .modal-body .form_builder_cntnr .form-group label {
            color: #808080;
            font-weight: 300;
            font-size: 1.8rem;
            padding-left: 15px;
            padding-bottom: 15px; }
        .modal-dialog .modal-content .modal-body .form_builder_cntnr .form-control {
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #000;
          box-shadow: none;
          -webkit-box-shadow: none; }
        .modal-dialog .modal-content .modal-body .form_builder_cntnr textarea.form-control {
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          border: 1px solid #000;
          height: 130px; }
        .modal-dialog .modal-content .modal-body .form_builder_cntnr .green-text {
          color: #95c122;
          font-size: 1.4rem;
          margin: -15px auto 10px; }
      .modal-dialog .modal-content .modal-body button {
        margin: 0 auto;
        border: none;
        border-radius: 0;
        background-color: #95c122;
        width: 190px;
        height: 50px;
        position: relative;
        display: block;
        color: #fff;
        font-size: 2.4rem;
        padding-top: 9px; }
        .modal-dialog .modal-content .modal-body button:hover {
          text-decoration: underline; }

.form-group {
  margin-bottom: 25px; }
  .form-group .input-group {
    width: 100px; }
    .form-group .input-group .input-group-btn a {
      color: #808080;
      height: 30px;
      padding-top: 4px;
      border-radius: 0;
      border: none;
      background: transparent;
      width: 36px; }
      .form-group .input-group .input-group-btn a:hover, .form-group .input-group .input-group-btn a:focus {
        color: red;
        background: transparent;
        box-shadow: none; }
    .form-group .input-group input {
      color: #ce2043;
      height: 30px;
      border: 1px solid #ccc !important; }

input[type=number] {
  padding: 0;
  text-align: center;
  outline: 0;
  pointer-events: none; }

span.spinner {
  position: absolute;
  height: 40px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  margin-left: 10px; }

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 15px;
  margin-top: 2px;
  text-align: center;
  cursor: pointer;
  transition: .1s linear;
  -o-transition: .1s linear;
  -ms-transition: .1s linear;
  -moz-transition: .1s linear;
  -webkit-transition: .1s linear; }

span.spinner > .sub:hover,
span.spinner > .add:hover {
  color: #387e33; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.8rem; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1.8rem; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 1.8rem; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1.8rem; }

input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease; }

input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease; }

input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease; }

input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease; }

input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease; }

input:focus::-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease; }

input:focus:-moz-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease; }

input:focus:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease; }

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

textarea::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

textarea:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

textarea:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease; }

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease; }

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0px; }

input,
textarea,
input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none; }

.contacts {
  min-height: 250px;
  color: #fff; }
  .contacts_cntnr {
    padding-left: 10%; }
  .contacts_ttl {
    font-size: 6rem; }
    @media (max-width: 475px) {
      .contacts_ttl {
        font-size: 3rem; } }
  .contacts_descr {
    font-size: 2.4rem;
    line-height: 30px;
    font-family: 'AvantGardeGothicC'; }
  .contacts__task {
    margin-bottom: 20px; }
    .contacts__task_txt {
      font-size: 1.2rem; }
    .contacts__task_btn {
      background-color: #95c122;
      width: 220px;
      height: 50px;
      border: none;
      border-radius: 0;
      font-family: 'AvantGardeGothicC';
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 300;
      padding-top: 9px;
      text-align: center; }
      .contacts__task_btn:hover, .contacts__task_btn:focus {
        text-decoration: underline;
        background-color: #95c122;
        color: #fff; }
  .contacts_cntnt {
    margin-bottom: 50px; }

.productsList__item {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px; }
  .productsList__item__cntnr {
    -webkit-background-color: #dfdfdf;
    -moz-background-color: #dfdfdf;
    -o-background-color: #dfdfdf;
    background-color: #dfdfdf;
    padding: 10px;
    text-align: center;
    position: relative; }
    .productsList__item__cntnr_img {
      display: block;
      width: 100%;
      height: 300px; }
    .productsList__item__cntnr_cat-img {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 15px;
      right: 15px; }
    .productsList__item__cntnr_title a {
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
      text-decoration: underline;
      color: #242424; }
    .productsList__item__cntnr_text {
      font-family: 'AvantGardeGothicC';
      font-size: 1.4rem; }
    .productsList__item__cntnr_btns_more {
      width: 48%;
      height: 52px;
      float: left;
      color: #242424;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
    .productsList__item__cntnr_btns_order {
      width: 48%;
      height: 52px;
      float: right;
      background: #387e33;
      color: #fff;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
      .productsList__item__cntnr_btns_order:hover, .productsList__item__cntnr_btns_order:focus {
        background: #95c122;
        color: #fff; }

.categoryMenu {
  background: #95c122;
  padding-right: 0;
  padding-left: 0;
  margin-top: -100px;
  position: absolute;
  top: 0;
  bottom: inherit; }
  .categoryMenu.fix_down {
    position: absolute;
    top: inherit;
    bottom: 0;
    margin-top: 0; }
    .categoryMenu.fix_down_scroll {
      position: fixed;
      top: inherit;
      bottom: 0;
      margin-top: -100px; }
  .categoryMenu.fix_up {
    position: absolute;
    top: 0;
    bottom: inherit;
    margin-top: -100px; }
    .categoryMenu.fix_up_scroll {
      position: fixed;
      top: 0;
      bottom: inherit;
      margin-top: 0px; }
  @media (max-width: 767px) {
    .categoryMenu {
      margin-top: 0; } }
  .categoryMenu .list-group {
    border-radius: 0;
    border: none;
    padding-top: 20px; }
    @media (max-width: 767px) {
      .categoryMenu .list-group {
        display: none; } }
    .categoryMenu .list-group .list-group-item {
      border: none;
      border-radius: 0;
      background: transparent; }
      .categoryMenu .list-group .list-group-item a {
        color: #fff;
        font-weight: 900;
        font-size: 1.8rem;
        text-transform: uppercase; }
        .categoryMenu .list-group .list-group-item a.active, .categoryMenu .list-group .list-group-item a:hover, .categoryMenu .list-group .list-group-item a:focus {
          text-decoration: underline; }
      .categoryMenu .list-group .list-group-item .list-group {
        margin: -10px 0 -15px;
        padding: 0; }
        .categoryMenu .list-group .list-group-item .list-group .list-group-item {
          position: relative;
          line-height: 18px; }
          .categoryMenu .list-group .list-group-item .list-group .list-group-item a {
            font-size: 1.4rem;
            font-weight: 400;
            text-transform: none;
            margin: 0;
            padding: 0 0 0 10px; }
          .categoryMenu .list-group .list-group-item .list-group .list-group-item.active:before, .categoryMenu .list-group .list-group-item .list-group .list-group-item:hover:before, .categoryMenu .list-group .list-group-item .list-group .list-group-item:focus:before {
            content: '\2022';
            font-size: 3rem;
            color: #387e33;
            position: absolute;
            left: 5px;
            top: 10px; }
  .categoryMenu_list_breadcrumbs {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-top: 30px; }
  .categoryMenu_list_form {
    max-width: 220px;
    float: right;
    margin-top: -75px;
    margin-right: 12px; }
    @media (max-width: 1024px) {
      .categoryMenu_list_form {
        float: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 10px; } }
    .categoryMenu_list_form form {
      position: relative; }
      .categoryMenu_list_form form .form-group label,
      .categoryMenu_list_form form .form-group .help-block {
        display: none; }
      .categoryMenu_list_form form .form-group input {
        border-radius: 0;
        height: 50px;
        padding-left: 40px; }
      .categoryMenu_list_form form button {
        border: none;
        background: transparent;
        border-radius: 0;
        color: #387e33;
        font-size: 23px;
        margin-left: 5px;
        outline: none;
        position: absolute;
        top: 14px; }

@media (max-width: 991px) {
  .category_view > .container {
    width: 100% !important; } }

.product-cut__title-link_count {
  font-size: 12px;
  color: #387e33; }

.product__row {
  margin-top: 50px;
  margin-bottom: 80px; }
.product-cntnr {
  width: 100%;
  display: flex;
  flex-direction: row; }
  @media (max-width: 600px) {
    .product-cntnr {
      display: block; } }
  .product-cntnr__imgs {
    max-width: 320px;
    min-height: 420px;
    position: relative; }
    @media (max-width: 600px) {
      .product-cntnr__imgs {
        margin: 0 auto; } }
    .product-cntnr__imgs_in {
      background-color: #dfdfdf;
      padding: 5px; }
    .product-cntnr__imgs_img {
      width: 100%;
      height: 410px;
      display: block; }
      .product-cntnr__imgs_img img {
        visibility: hidden; }
    .product-cntnr__imgs_cat-img {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 15px;
      right: 15px; }
  .product-cntnr__slide {
    margin-top: 20px; }
    .product-cntnr__slide a {
      display: block;
      height: 84px;
      padding-right: 0px;
      padding-left: 0px;
      margin-right: 5px;
      margin-left: 5px; }
  .product-cntnr__descriptions {
    margin-left: 15px; }
    @media (max-width: 600px) {
      .product-cntnr__descriptions {
        margin: 0 auto;
        text-align: center; } }
  .product-cntnr__title {
    font-family: 'Roboto';
    font-size: 2.4rem;
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 30px; }
  .product-cntnr__description {
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 700; }
  .product-cntnr__manufacturer {
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 50px; }
    @media (max-width: 600px) {
      .product-cntnr__manufacturer {
        text-align: center; } }
    .product-cntnr__manufacturer a {
      color: #242424;
      text-decoration: underline; }
  .product-cntnr__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 80px; }
  .product-cntnr__item-value {
    font-size: 3rem;
    font-weight: 900; }
  .product-cntnr__item-cur {
    font-family: 'Roboto';
    font-size: 1.4rem; }
  .product-cntnr__btns_order {
    background: #387e33;
    color: #fff; }
    .product-cntnr__btns_order:hover {
      background: #387e33;
      color: #fff; }
  .product-cntnr__otherDescriptions {
    font-family: 'Roboto';
    font-size: 1.8rem;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%; }
    .product-cntnr__otherDescriptions h2,
    .product-cntnr__otherDescriptions h3,
    .product-cntnr__otherDescriptions h4,
    .product-cntnr__otherDescriptions h5,
    .product-cntnr__otherDescriptions h6 {
      background: #95c122;
      font-family: 'Roboto';
      font-size: 1.8rem;
      color: #fff;
      padding: 10px; }
.product-price__item-value {
  font-size: 3rem;
  font-weight: 900;
  padding-right: 5px; }

.article__ttl {
  font-family: 'AvantGardeGothicC';
  font-size: 3rem;
  color: #387e33;
  font-weight: 300;
  margin-bottom: 10px; }
.article__img {
  max-width: 637px;
  margin-right: 20px;
  float: left; }
  @media (max-width: 992px) {
    .article__img {
      max-width: 50%; } }
  @media (max-width: 767px) {
    .article__img {
      max-width: initial;
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px; } }
  .article__img img {
    width: 100%; }
.article__txt {
  font-size: 1.4rem; }
.article__footer {
  margin-top: 50px;
  margin-bottom: 50px; }
.article__date {
  font-size: 2.4rem;
  font-weight: 900;
  text-decoration: underline; }

.readmore {
  max-height: 500px; }
  @media (max-width: 768px) {
    .readmore {
      max-height: 290px; } }
  @media (max-width: 425px) {
    .readmore {
      max-height: 180px; } }

a.readmore_open,
a.readmore_close {
  display: block;
  color: #95c122;
  text-align: right; }

#back-to-top {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 9999;
  text-align: center;
  font-size: 6rem;
  color: #387e33;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  opacity: 0; }

#back-to-top.show:hover {
  opacity: 1; }

#back-to-top.show {
  opacity: 0.5; }

#content {
  height: 2000px; }

.product_view footer,
.category_view footer {
  margin-top: 100px; }
  @media (max-width: 767px) {
    .product_view footer,
    .category_view footer {
      margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
