.actions {
  &_heading {
    color: #fff;
    font-size: 4.6rem;
    font-weight: 700;
    text-align: center;
    margin: 70px 0;
    text-transform: uppercase;
    @media (max-width: 475px) {
      font-size: 3rem;
    }
  }
  &__content {
    margin-bottom: 50px;
    &_blc {
      background-color: $green;
      color: #fff;
      @media (max-width: 767px) {
        margin-bottom: 50px;
      }
      &_img {
        width: 100%;
        height: 210px;
      }
      &_ttl {
        padding: 30px 15px;
        a {
          font-size: 2.4rem;
          font-weight: 900;
          text-decoration: underline;
          text-transform: uppercase;
          color: #fff;
        }
      }
      &_text {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 30px;
      }
      &_btn {
        margin: 65px 0 30px 15px;
      }
    }
  }
  .container {
    padding-bottom: 150px;
    max-width: 992px;
  }
}