.article {
  &__head {

  }
  &__ttl {
    font-family: 'AvantGardeGothicC';
    font-size: 3rem;
    color: $green;
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__img {
    max-width: 637px;
    margin-right: 20px;
    float: left;
    @media (max-width: 992px) {
      max-width: 50%;
    }
    @media (max-width: 767px) {
      max-width: initial;
      margin-right: 0;
      width: 100%;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
    }
  }
  &__txt {
    font-size: 1.4rem;
  }
  &__footer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &__date {
    font-size: 2.4rem;
    font-weight: 900;
    text-decoration: underline;
  }
}