.breadcrumbs {
  margin-top: 20px;
  ul {
    padding-left: 0;
    li {
      display: inline-block;
      &:before {
        content: '-';
        color: #000;
        font-size: 1.8rem;
      }
      &:first-child {
        &:before {
          content: none;
        }
      }
      a {
        color: $light-green;
        font-size: 1.8rem;
        font-weight: 300;
        font-family: 'AvantGardeGothicC';
        padding-left: 5px;
      }
      span {
        font-size: 1.8rem;
        font-weight: 300;
        font-family: 'AvantGardeGothicC';
        padding-left: 5px;
      }
    }
  }
}