.categoryMenu {
  background: $light-green;
  padding-right: 0;
  padding-left: 0;
  margin-top: -100px;
  position: absolute;
  top: 0;
  bottom: inherit;
  &.fix {
    &_down {
      position: absolute;
      top: inherit;
      bottom: 0;
      margin-top: 0;
      &_scroll {
        position: fixed;
        top: inherit;
        bottom: 0;
        margin-top: -100px;
      }
    }
    &_up {
      position: absolute;
      top: 0;
      bottom: inherit;
      margin-top: -100px;
      &_scroll {
        position: fixed;
        top: 0;
        bottom: inherit;
        margin-top: 0px;
      }
    }
  }
  @media (max-width: 767px) {
    margin-top: 0;
  }
  .list-group {
    border-radius: 0;
    border: none;
    padding-top: 20px;
    @media (max-width: 767px) {
      display: none;
    }
    .list-group-item {
      border: none;
      border-radius: 0;
      background: transparent;
      a {
        color: #fff;
        font-weight: 900;
        font-size: 1.8rem;
        text-transform: uppercase;
        &.active,
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
      .list-group {
        margin: -10px 0 -15px;
        padding: 0;
        .list-group-item {
          position: relative;
          line-height: 18px;
          a {
            font-size: 1.4rem;
            font-weight: 400;
            text-transform: none;
            margin: 0;
            padding: 0 0 0 10px;
          }
          &.active,
          &:hover,
          &:focus {
            &:before {
              content: '\2022';
              font-size: 3rem;
              color: $green;
              position: absolute;
              left: 5px;
              top: 10px;
            }
          }
        }
      }
    }
  }
  &_list {
    &_breadcrumbs {
      margin-bottom: 30px;
      margin-left: 5px;
      margin-top: 30px;
    }
    &_form {
      max-width: 220px;
      float: right;
      margin-top: -75px;
      margin-right: 12px;
      @media (max-width: 1024px) {
        float: none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 10px;
      }
      form {
        position: relative;
        .form-group {
          label,
          .help-block {
            display: none;
          }
          input {
            border-radius: 0;
            height: 50px;
            padding-left: 40px;
          }
        }
        button {
          border: none;
          background: transparent;
          border-radius: 0;
          color: $green;
          font-size: 23px;
          margin-left: 5px;
          outline: none;
          position: absolute;
          top: 14px;
        }
      }
    }
  }
}
.category_view > .container {
  @media (max-width: 991px) {
    width: 100%!important;
  }
}
.product-cut__title-link_count {
  font-size: 12px;
  color: #387e33;
}