.contacts {
  min-height: 250px;
  color: #fff;
  &_cntnr {
    padding-left: 10%;
  }
  &_ttl {
    font-size: 6rem;
    @media (max-width: 475px) {
      font-size: 3rem;
    }
  }
  &_descr {
    font-size: 2.4rem;
    line-height: 30px;
    font-family: 'AvantGardeGothicC';
  }
  &__task {
    margin-bottom: 20px;
    &_txt {
      font-size: 1.2rem;
    }
    &_btn {
      background-color: $light-green;
      width: 220px;
      height: 50px;
      border: none;
      border-radius: 0;
      font-family: 'AvantGardeGothicC';
      color:  #ffffff;
      font-size: 2.4rem;
      font-weight: 300;
      padding-top: 9px;
      text-align: center;
      &:hover,
      &:focus {
        text-decoration: underline;
        background-color: $light-green;
        color: #fff;
      }
    }
  }
  &_cntnt {
    margin-bottom: 50px;
  }
}