.footer {
  &__nav {
    background: $green;
  }
  &__navbar {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    &_collapse {
      ul {
        li {
          a {
            font-family: 'AvantGardeGothicC';
            color:  #ffffff!important;
            font-size: 2rem;
            font-weight: 700;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
            .active {
              text-decoration: underline;
            }
          }
        }
      }
    }
    &_btn {
      background-color: $light-green;
      width: 220px;
      height: 50px;
      border: none;
      border-radius: 0;
      font-family: 'AvantGardeGothicC';
      color:  #ffffff;
      font-size: 2.4rem;
      font-weight: 300;
      padding-top: 9px;
      text-align: center;
      @media (max-width: 1330px) {
        float: left!important;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
        background-color: $light-green;
        color: #fff;
      }

    }
  }
  &__contacts {
    background-color: #000;
    padding-bottom: 55px;
    padding-top: 55px;
    font-weight: 300;
    .container {
      @media (max-width: 425px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &_col {
      position: relative;
      height: 100px;
      @media (max-width: 425px) {
        padding-right: 5px;
        padding-left: 5px;
        height: auto;
      }
    }
    &_copyright {
      position: absolute;
      top: 0;
      left: 0;
      font-family: 'AvantGardeGothicC';
      color:  #ffffff;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 24px;
      @media (max-width: 767px) {
        position: relative;
        text-align: center;
      }
    }
    &_address {
      position: absolute;
      bottom: 0;
      left: 0;
      font-family: 'AvantGardeGothicC';
      color:  #ffffff;
      font-size: 1.8rem;
      font-weight: 300;
      @media (max-width: 767px) {
        position: relative;
        text-align: center;
      }
    }
    &_phone {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 4rem;
      font-weight: 500;
      margin-top: -10px;
      @media (max-width: 767px) {
        position: relative;
        text-align: center;
      }
      a {
        color: #fff;
        text-decoration: none;
        @media (max-width: 425px) {
          font-size: 3rem;
        }
      }
    }
    &_mail {
      position: absolute;
      bottom: 0;
      right: 0;
      text-align: right;
      font-family: 'AvantGardeGothicC';
      font-size: 1.8rem;
      font-weight: 300;
      @media (max-width: 767px) {
        position: relative;
        text-align: center;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}