.header {
  background: -webkit-linear-gradient(to right, #ffffff 50%, $green 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to right, #ffffff 50%, $green 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to right, #ffffff 50%, $green 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #ffffff 50%, $green 50%);
  height: 105px;
  color: #fff;
  @media (max-width: 650px) {
    background: -webkit-linear-gradient(to bottom, #ffffff 50%, $green 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #ffffff 50%, $green 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #ffffff 50%, $green 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ffffff 50%, $green 50%);
    height: 140px;
  }
  @media (max-width: 425px) {
    background: -webkit-linear-gradient(to bottom, #ffffff 38%, $green 38%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, #ffffff 38%, $green 38%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, #ffffff 38%, $green 38%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #ffffff 38%, $green 38%);
  }
  &__cntnr {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
  }
  &__right {
    float: right;
    @media (max-width: 1330px) {
      width: 50%;
      display: inline-block;
      float: none;
    }
    @media (max-width: 650px) {
      width: 100%;
      display: block;
    }
  }
  .navbar {
    background: transparent;
    border: none;
    text-align: center;
    margin: 0 auto;
    height: 105px;
    display: inline-block;
    z-index: 999;
    @media (max-width: 1330px) {
      float: none;
      position: absolute;
      right: 0;
      top: 105px;
    }
    @media (max-width: 650px) {
      top: 140px;
    }
    &-header {
      button.navbar-toggle {
        position: absolute;
        right: 0;
        top: -80px;
        height: 40px;
        background: $light-green;
        @media (max-width: 650px) {
          top: -133px;
        }
        @media (max-width: 650px) {
          top: -143px;
        }
        .icon-bar {
          background-color: #fff;
          display: none;
          &:first-child {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            transition: all 0.5s;
            display: block;
          }
          &:last-child {
            -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
            transition: all 0.5s;
            display: block;
            margin-top: -2px;
          }
        }
        &.collapsed {
          .icon-bar{
            display: block;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            transition: all 0.5s;
            &:last-child {
              margin-top: 4px;
            }
          }
        }
      }
    }
    &-collapse {
      float: none;
      display: inline-block!important;
      border: none;
    }
    &__right {
      display: inline-block;
      vertical-align: top;
      padding-left: 20px;
      padding-top: 10px;
      float: right;
      @media (max-width: 1330px) {
        float: none;
        position: relative;
      }
      @media (max-width: 650px) {
        display: block;
      }
      &__top {
        clear: both;
        @media (max-width: 1330px) {
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 105px solid $green;
            border-left: 105px solid transparent;
            position: absolute;
            top: 0;
            left: -105px;
          }
        }
        @media (max-width: 650px) {
          float: left;
          &:before {
            content: none;
          }
        }
        @media (max-width: 425px) {
          float: none;
        }
        &_currency {
          font-family: 'AvantGardeGothicC';
          font-size: 1.1rem;
          font-weight: 300;
          max-width: 136px;
          float: left;
          @media (max-width: 650px) {
            float: none;
          }
          @media (max-width: 425px) {
            float: left;
          }
          & .dol {
            float: left;
          }
          & .euro {
            float: right;
          }
        }
        &_lang {
          float: right;
          margin-left: 10px;
          margin-top: 2px;
          color: $light-green;
          @media (max-width: 650px) {
            float: none;
          }
          @media (max-width: 425px) {
            float: right;
            margin-left: 0;
            margin-right: 10px;
          }
          a {
            color: $light-green;
            font-size: 1.8rem;
            font-weight: 700;
            &.active {
              color: #fff;
            }
          }
        }
      }
      &__bottom {
        clear: both;
        text-align: right;
        margin-top: 45px;
        @media (max-width: 650px) {
          float: right;
          margin-top: -55px;
          margin-right: 10px;
        }
        @media (max-width: 425px) {
          float: none;
          text-align: center;
          margin-top: 35px;
        }
        &_phone {
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 20px;
          @media (max-width: 650px) {
            margin-bottom: 13px;
          }
          @media (max-width: 425px) {
            margin-bottom: 8px;
          }
          a {
            color: #fff;
            text-decoration: none;
          }
        }
        &_mail {
          font-family: 'AvantGardeGothicC';
          font-size: 1.6rem;
          font-weight: 300;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    &-nav {
      -webkit-transform: skew(-30deg);
      -moz-transform: skew(-30deg);
      -o-transform: skew(-30deg);
      transform: skew(-30deg);
      background: #95c122;
      @media (max-width: 1330px) {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
        padding-top: 10px;
        text-align: left;
      }
      li {
        background: transparent;
        border: none;
        box-sizing: border-box;
        padding: 0 10px;
        margin-left: -1px;
        height: 105px;
        @media (max-width: 1330px) {
          height: inherit;
        }
        &.active a {
          text-decoration: underline;
        }
        &:first-child {
          display: none;
        }
        &.dropdown {
          ul.dropdown-menu {
            top: 70px;
            left: 25px;
            -webkit-transform: skew(30deg);
            -moz-transform: skew(30deg);
            -o-transform: skew(30deg);
            transform: skew(30deg);
            background: $light-green;
            border: none;
            border-radius: 0;
            border-left: 2px solid #fff;
            @media (max-width: 1330px) {
              -webkit-transform: skew(0deg);
              -moz-transform: skew(0deg);
              -o-transform: skew(0deg);
              transform: skew(0deg);
              border: none;
            }
            li {
              background: transparent;
              -webkit-transform: skew(0deg);
              -moz-transform: skew(0deg);
              -o-transform: skew(0deg);
              height: auto;
              margin-left: 0;
              &:first-child {
                display: block;
              }
              a {
                color: #fff;
                font-size: 1.4rem;
                font-weight: 400;
                outline: none;
                @media (max-width: 1330px) {
                  padding: 0 0 0 30px;
                }
                &:hover,
                &:focus {
                  background: transparent;
                  border: none;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    &-brand {
      height: inherit;
      float: left;
      @media (max-width: 1330px) {
        width: 50%;
      }
      @media (max-width: 650px) {
        width: 100%;
        text-align: center;
        img {
          display: initial;
          width: 120px;
        }
      }
      @media (max-width: 425px) {
        text-align: left;
        padding: 5px 10px;
        height: 55px;
        img {
          width: 100px;
        }
      }
    }
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    background: transparent;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    padding-top: 35px;
    @media (max-width: 1330px) {
      -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg);
      transform: skew(0deg);
      padding-top: 0;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
    color: #fff;
  }
}
@media (max-width: 1330px) {
  .navbar-collapse.collapse {
    display: none !important;
    position: absolute;
    right: 0;
    min-width: 220px;
    border: none;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    min-width: 220px;
    border: none;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
  .navbar-nav {
    float: none;
    margin: inherit;
  }
  .navbar-nav>li {
    float: none;
  }
  .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
  }
}
@media (max-width: 425px) {
  .navbar-collapse.collapse {
    top: -10px;
  }
  .navbar-collapse.collapse.in {
    padding-right: 0;
  }
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}