/**
 * Created by michael on 10.05.17.
 */

.firstDisplay {
  height: 100vh;
  width: 100%;
  clear: both;
  position: relative;
  display: table;
  @media (max-width: 650px) {
    height: auto;
    display: block;
  }
  &__categories {
    height: 100%;
    position: relative;
    display: table-row;
    text-align: center;
    @media (max-width: 650px) {
      display: none;
    }
    &_section {
      display: table-cell;
      padding-top: 7%;
    }
    &_cntnr {
      display: inline-block;
      font-size: 2rem;
      color: $green;
      font-weight: 900;
      text-transform: uppercase;
      width: 185px;
      vertical-align: top;
      margin: 0 5%;
      &:hover,
      &:focus {
        color: $green;
        text-decoration: none;
        .firstDisplay__categories_cntnr_round {
          border-color: #fff;
          transition: 0.5s;
        }
        .firstDisplay__categories_cntnr_round_in {
          background-color: #fff;
          transition: 0.5s;
        }
      }
      &_round {
        width: 172px;
        height: 172px;
        border-radius: 50%;
        border: 3px solid rgba(255, 255, 255, 0.5);
        padding: 3px;
        transition: 0.5s;
        &_in {
          background-color: rgba(255, 255, 255, 0.5);
          width: 100%;
          height: 100%;
          border-radius: 50%;
          text-align: center;
          position: relative;
          transition: 0.5s;
          img {
            @include absolute-center;
          }
        }
      }
    }
    &_cat {
      &_1 {
        -vendor-animation-delay: 10s;
      }
      &_2 {
        -vendor-animation-delay: 2.5s;
      }
      &_3 {
        -vendor-animation-delay: 3s;
      }
      &_all {
        -vendor-animation-delay: 3.5s;
      }
    }
    &_all {
      display: block;
      width: 310px;
      margin: 0 auto;
      padding-top: 2%;
      font-weight: 300;
      font-size: 3rem;
      color: $green;
      text-decoration: underline;
      text-align: center;
      text-shadow: 1px 1px 1px #fff;
      font-family: 'AvantGardeGothicC';
      &:hover,
      &:focus {
        color: $green;
      }
    }
  }
}
