.modal-dialog {
  max-width: 354px;

  .modal-content {
    border: none;
    border-radius: 0;

    button.close {
      right: 10px;
      top: 5px;
      color: #fff;
      opacity: inherit;
      position: absolute;
      z-index: 1;
    }

    .modal-body {
      color: #808080;
      font-weight: 300;
      font-size: 1.8rem;
      padding: 0;

      .form_builder_cntnr {
        padding: 1px;

        h3 {
          background: $green;
          color: #fff;
          text-transform: uppercase;
          font-weight: 900;
          font-size: 1.8rem;
          text-align: center;
          margin-top: 0;
          height: 55px;
          padding-top: 20px;
          margin-bottom: 20px;
        }
        .form-group {
          max-width: 300px;
          margin: 0 auto;
          margin-bottom: 25px;
          label {
            color: #808080;
            font-weight: 300;
            font-size: 1.8rem;
            padding-left: 15px;
            padding-bottom: 15px;
          }
        }
        .form-control {
          border-radius: 0;
          border: none;
          border-bottom: 1px solid #000;
          box-shadow: none;
          -webkit-box-shadow: none;
        }
        textarea.form-control {
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          border: 1px solid #000;
          height: 130px;
        }
        .green-text {
          color: $light-green;
          font-size: 1.4rem;
          margin: -15px auto 10px;
        }
      }

      button {
        margin: 0 auto;
        border: none;
        border-radius: 0;
        background-color:  $light-green;
        width: 190px;
        height: 50px;
        position: relative;
        display: block;
        color: #fff;
        font-size: 2.4rem;
        padding-top: 9px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.form-group {
  margin-bottom: 25px;
  .input-group{
    width: 100px;
    .input-group-btn {
      a {
        color: #808080;
        height: 30px;
        padding-top: 4px;
        border-radius: 0;
        border: none;
        background: transparent;
        width: 36px;
        &:hover,
        &:focus {
          color: red;
          background: transparent;
          box-shadow: none;
        }
      }
    }
    input {
      color: #ce2043;
      height: 30px;
      border: 1px solid #ccc!important;
    }
  }
}
input[type=number] {
  padding: 0;
  text-align: center;
  outline: 0;
  pointer-events: none;
}

span.spinner {
  position: absolute;
  height: 40px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  margin-left: 10px;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 15px;
  margin-top: 2px;
  text-align: center;
  cursor: pointer;
  transition: .1s linear;
  -o-transition: .1s linear;
  -ms-transition: .1s linear;
  -moz-transition: .1s linear;
  -webkit-transition: .1s linear;
}

span.spinner > .add {
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  color: $green;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.8rem;
  //font-weight: 300px;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1.8rem;
  //font-weight: 300px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  font-size: 1.8rem;
  //font-weight: 300px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 1.8rem;
  //font-weight: 300px;
}