.news {
  &__cntnr {
    background-color:  #dfdfdf;
    margin-bottom: 30px;
    height: 435px;
    padding-left: 0;
    @media (max-width: 767px) {
      height: initial;
      padding-right: 0;
    }
    &_img {
      height: 100%;
      @media (max-width: 767px) {
        height: 300px;
      }
    }
    &__cntnt {
      padding-top: 15px;
      padding-left: 50px;
      position: relative;
      height: 100%;
      @media (max-width: 767px) {
        padding-bottom: 90px;
      }
      &_date {
        text-align: right;
        font-size: 2.4rem;
        font-weight: 900;
        text-decoration: underline;
        @media (max-width: 767px) {
          float: right;
        }
      }
      &_ttl{
        font-weight: 300;
        font-size: 2.4rem;
        padding-top: 15px;
        margin-bottom: 50px;
        @media (max-width: 767px) {
          margin-bottom: 20px;
          margin-top: -10px
        }
        @media (max-width: 425px) {
          margin-bottom: 20px;
          margin-top: 20px
        }
      }
      &_cntnt{
        font-family: 'AvantGardeGothicC';
        font-weight: 300;
        font-size: 1.8rem;
        max-height: 190px;
        overflow: hidden;
        @media (max-width: 767px) {
          max-height: 190px;
        }
      }
    }
    &_btn {
      position: absolute;
      bottom: 15px;
      left: 50px;
      @media (max-width: 767px) {
        left: inherit;
        right: 20px;
      }
    }
  }
}