.partners {
  &_heading {
    color:  #1a1a1a;
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin: 70px 0 30px;
    text-transform: uppercase;
    @media (max-width: 475px) {
      font-size: 3rem;
    }
  }
  &__content {
    ul {
      li {
        min-height: 125px;
        .uk-text-center {
          height: 100%;
          position: relative;
          img {
            @include absolute-center;
          }
        }
      }
    }
  }
}