.product{
  &__row {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  &-cntnr {
    width: 100%;
    display: flex;
    flex-direction: row;
    @media (max-width: 600px) {
      display: block;
    }
    &__imgs {
      max-width: 320px;
      min-height: 420px;
      position: relative;
      @media (max-width: 600px) {
        margin: 0 auto;
      }
      &_in {
        background-color:  #dfdfdf;
        padding: 5px;
      }
      &_img {
        width: 100%;
        height: 410px;
        display: block;
        img {
          visibility: hidden;
        }
      }
      &_cat-img {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 15px;
        right: 15px;
      }
    }
    &__slide {
      margin-top: 20px;
      a {
        display: block;
        height: 84px;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    &__descriptions {
      margin-left: 15px;
      @media (max-width: 600px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__title {
      font-family: 'Roboto';
      font-size: 2.4rem;
      text-decoration: underline;
      font-weight: 500;
      margin-bottom: 30px;
    }
    &__description {
      font-family: 'Roboto';
      font-size: 1.4rem;
      font-weight: 700;
    }
    &__manufacturer {
      font-family: 'Roboto';
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 50px;
      @media (max-width: 600px) {
        text-align: center;
      }
      a {
        color: #242424;
        text-decoration: underline;
      }
    }
    &__text {
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;
      margin-bottom: 80px;
    }
    &__cost {

    }
    &__item-value {
      font-size: 3rem;
      font-weight: 900;
    }
    &__item-cur {
      font-family: 'Roboto';
      font-size: 1.4rem;
    }
    &__btns_order {
      background: $green;
      color: #fff;
      &:hover {
        background: $green;
        color: #fff;
      }
    }
    &__otherDescriptions {
      font-family: 'Roboto';
      font-size: 1.8rem;
      margin-bottom: 30px;
      margin-top: 30px;
      width: 100%;
      h2,
      h3,
      h4,
      h5,
      h6 {
        background: $light-green;
        font-family: 'Roboto';
        font-size: 1.8rem;
        color: #fff;
        padding: 10px;
      }
    }
  }
  &-price {
    &__item {
      &-value {
        font-size: 3rem;
        font-weight: 900;
        padding-right: 5px;
      }
    }
  }
}
