.productsList {

  &__item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    &__cntnr {
      -webkit-background-color:  #dfdfdf;
      -moz-background-color:  #dfdfdf;
      -o-background-color:  #dfdfdf;
      background-color:  #dfdfdf;
      padding: 10px;
      text-align: center;
      position: relative;
      &_img {
        display: block;
        width: 100%;
        height: 300px;
      }
      &_cat-img {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 15px;
        right: 15px;
      }
      &_title {
        a {
          font-family: 'Roboto', sans-serif;;
          font-size: 1.4rem;
          font-weight: 500;
          text-decoration: underline;
          color:  #242424;
        }
      }
      &_text {
        font-family: 'AvantGardeGothicC';
        font-size: 1.4rem;
      }
      &_price {

      }
      &_btns {
        &_more {
          width: 48%;
          height: 52px;
          float: left;
          color:  #242424;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
        }
        &_order {
          width: 48%;
          height: 52px;
          float: right;
          background: $green;
          color: #fff;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          &:hover,
          &:focus {
            background: $light-green;
            color: #fff;
          }
        }
      }
    }
  }
}