@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('../fonts/AvantGardeGothicC.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvantGardeGothicC.otf')  format('opentype'),
  url('../fonts/AvantGardeGothicC.woff') format('woff'), url('../fonts/AvantGardeGothicC.ttf')  format('truetype'), url('../fonts/AvantGardeGothicC.svg#AvantGardeGothicC') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}
body {
  font: 16px/1.5 sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #1a1a1a;
}
@import "_varibles";
@import "_mixins";
#slideSide {
  display: none;
}
@media (max-width: 991px) {
  #slideSide {
    display: block;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    /* top layer */
    z-index: 9999;
    transition: all 0.3s;
    overflow-y: scroll;
    background: $light-green;
    &.active {
      left: 0;
    }
    .list-group {
      border-radius: 0;
      border: none;
      padding-top: 20px;
      .list-group-item {
        border: none;
        border-radius: 0;
        background: transparent;
        a {
          color: #fff;
          font-weight: 900;
          font-size: 1.4rem;
          text-transform: uppercase;
          &.active,
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
        .list-group {
          margin: -10px 0 -15px;
          padding: 0;
          .list-group-item {
            position: relative;
            line-height: 18px;
            a {
              font-weight: 400;
              text-transform: none;
              margin: 0;
              padding: 0 0 0 10px;
            }
            &.active,
            &:hover,
            &:focus {
              &:before {
                content: '\2022';
                font-size: 3rem;
                color: $green;
                position: absolute;
                left: 5px;
                top: 10px;
              }
            }
          }
        }
      }
    }
  }
  #overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
  }

  #dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 0;
    color: #fff;
  }
  #sidebarCollapse {
    position: absolute;
    left: 10px;
    top: -80px;
    height: 40px;
    background: $light-green;
    border: 1px solid #fff;
    .icon-bar {
      background-color: #fff;
      display: none;
      &:first-child {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: all 0.5s;
        display: block;
      }
      &:last-child {
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
        transition: all 0.5s;
        display: block;
        margin-top: -2px;
      }
    }
    &.collapsed {
      .icon-bar{
        display: block;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: all 0.5s;
        &:last-child {
          margin-top: 4px;
        }
      }
    }
  }
}
@import "_header";
@import "_home-first-display";

.home {
  &_ttl {
    font-size: 6.3rem;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
    @media (max-width: 475px) {
      font-size: 3rem;
    }
  }
  &_dsc {
    color: $green;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
  }
  &_cntnt {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 36px;
  }
}

.btn {
  width: 157px;
  height: 52px;
  padding-top: 15px;
  border-radius: 0;
  border: none;
  font-family: 'AvantGardeGothicC';
  color: #605c5c;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  transition: all 0.1s;
  &:hover {
    transition: all 0.1s;
    box-shadow: -4px 4px 3px 0px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    color: #000;
  }
}
@import "_breadcrumbs";
@import "_actions";
@import "_partners";
@import "_news";
@import "_footer";
@import "_modalForms";
@import "_placeholder";
@import "_contacts";
@import "_productList";
@import "_category-menu";
@import "_product";
@import "_article";

.readmore {
  max-height: 500px;
  @media (max-width: 768px) {
    max-height: 290px;
  }
  @media (max-width: 425px) {
    max-height: 180px;
  }
}
a.readmore_open,
a.readmore_close {
  display: block;
  color: $light-green;
  text-align: right;
}

#back-to-top {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 9999;
  text-align: center;
  font-size: 6rem;
  color: $green;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top.show:hover {
  opacity: 1;
}
#back-to-top.show {
  opacity: 0.5;
}
#content {
  height: 2000px;
}
//.row > div > #categoryMenu {
//  margin-top: 40px;
//}
.product_view footer,
.category_view footer {
  margin-top: 100px;
  @media (max-width: 767px) {
    margin-top: 0;
  }
}